.signUp-page {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 10px
}
.signUp-page__header {
    font-size: 52px;
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.signUp-page__sub-header {
    font-size: 36px;
    margin-bottom: 15px;
    margin: 0;
}
.signUp-page__signUp-bar, .signUp-page__login-bar {
    width: 270px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.5;
    border: 1px black solid;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
}
.profile-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile-input label {
    color: rgba(0, 0, 255, 0.651);
    border-bottom: 0.5px solid rgba(0, 0, 255, 0.651);
}